[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.x.cfg

parts +=
    test
    omelette

eggs =
    Pillow
    plone.reload
    Products.PDBDebugMode
    Products.PrintingMailHost

package-name = simplemanagement.policy
giturl = git@github.com:

extensions =
    mr.developer

sources = sources
sources-dir = extras
auto-checkout = *
# always-checkout = true


[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    ${buildout:package-name} [test]

defaults = ['-s', '${buildout:package-name}']


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[sources]
abstract.simplemanagement = git ${buildout:giturl}abstract-open-solutions/abstract.simplemanagement.git
